html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: #1a3e70;
    color : orange;
}

a {
  color : orange;
  text-decoration: none;
}

h4 {
    margin : .5em 0 .5em 0;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

p {
  margin: .75em 0 .75em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
    vertical-align: middle;
    background-color: rgba(81, 99, 173, 0.1);
    padding : 5px;
}

caption {
    text-wrap : nowrap;
    text-align: left;
}

option[value="0"][disabled] {
  display: none;
}

.block {
    display: block;
    flex-grow: 0;
}

.hide {
    display: none;
}

#message {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    flex-grow: 0;
}

.highlight {
    color: #5163ad;
}

.info {
    color: #31C2A9;
}

.alert {
    color: red;
}

.button {
    background-color: #1a3e70;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 5px;
    text-align: center;
    color : orange;
    cursor: pointer;
}

.button:hover, .selected {
    background-color: #5163ad;
    border-color: orange;
    color: #1a3e70;
}

.button.disabled:hover, .disabled {
    cursor: default;
    background-color: gray;
    border-color: black;
    color: black;
}

.small {
    padding : 0px;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: #1a3e70;
    color : orange;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 10px;
    max-width: 75%;
    flex-direction: column;
    position: relative;
}

#popup-message p{
  margin: 1em 0 1em 0;
}

#close {
  position: absolute;
  cursor: pointer;
  font-size: xxx-large;
  right : 10px;
  top : 0px;
}

#scene {
    background-color: white;
    justify-content: space-around;
    align-items: center;
}


.card {
  flex-direction : column;
  background-color: rgba(81, 99, 173, 0.1);
  border-radius: 5px;
  border: 5px solid #1a3e70;
  padding: 5px;
  align-items: center;
  justify-content : space-between;
  transition: 0.3s;
  max-width: 375px;
}

.card:hover {
  border-color: orange;
  padding : 10px;
}

.chapter {
  font-size: small;
}

.title {
  font-size: x-large;
}

.section {
  font-size: medium;
}

.w-3 {
    width : 33%;
}

.citation {
    color : #1a3e70;
    text-decoration: underline;
}

.ok {
    background-color: green;
}

.nok {
    background-color: red;
}
