html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: #1a3e70;
    color : orange;
}

a {
  color : orange;
  text-decoration: none;
}

h4 {
    margin : .5em 0 .5em 0;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

p {
  margin: .75em 0 .75em 0;
}

option[value="0"][disabled] {
  display: none;
}

tfoot {
    font-size: x-small;
}

.block {
    display: block;
    flex-grow: 0;
}

.hide {
    display: none;
}

#message {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    flex-grow: 0;
}

.highlight {
    color: #5163ad;
}

.info {
    color: #31C2A9;
}

.alert {
    color: red;
}

.button {
    background-color: #1a3e70;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 5px;
    text-align: center;
    color : orange;
    cursor: pointer;
}

.button:hover, .selected {
    background-color: #5163ad;
    border-color: orange;
    color: #1a3e70;
}

.button.disabled:hover, .disabled {
    cursor: default;
    background-color: gray;
    border-color: black;
    color: black;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: #1a3e70;
    color : orange;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 10px;
    max-width: 75%;
    flex-direction: column;
    position: relative;
}

#popup-message p{
  margin: 1em 0 1em 0;
}

#close {
  position: absolute;
  cursor: pointer;
  font-size: xxx-large;
  right : 10px;
  top : 0px;
}

#scene {
    background-color: white;
    justify-content: space-around;
    align-items: center;
}


.card {
  flex-direction : column;
  background-color: rgba(81, 99, 173, 0.1);
  border-radius: 5px;
  border: 5px solid #1a3e70;
  padding: 5px;
  align-items: center;
  justify-content : space-between;
  transition: 0.3s;
  max-width: 375px;
}

.card:hover {
  border-color: orange;
  padding : 10px;
}

.chapter {
  font-size: small;
}

.title {
  font-size: x-large;
}

.section {
  font-size: medium;
}

.w-3 {
    width : 33%;
}

.small {
    padding : 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.plain {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    border : 3px solid #5163ad;
}

.plain td, .plain th {
    border : 1px solid #5163ad;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(81, 99, 173, 0.1);
    padding : 5px;
}

td {
    text-align: center;
    cursor: pointer;
    border-top : 3px solid transparent;
    border-bottom : 3px solid transparent;
    border-left : none;
    border-right : none;
    height: 120px;
}

.hovered {
    border-color : #c94a51;
}

.hovered-first {
    border-left-width : 3px;
    border-left-style: solid;
    border-left-color : #c94a51;
}

.hovered-last {
    border-right-width : 3px;
    border-right-style: solid;
    border-right-color : #c94a51;
}

.ok {
    background-color: green;
}

.nok {
    background-color: red;
}

.my-5 p {
    margin-top: .5em;
    margin-bottom: .5em;
}

.check::before {
    color: green;
    content: "\2713";
}

.cross::before {
    color: red;
    content: "\2717";
}
