html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: #1a3e70;
    color : orange;
}

h4 {
    margin : .5em 0 .5em 0;
}

div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

canvas {
  background-color : #E4E3EC;
}

table {
  border : 1px solid transparent;
}

th {
    background-color: #999;
}

caption {
    text-wrap : nowrap;
}

.block {
    display: block;
    flex-grow: 0;
}

.hide {
    display: none;
}

#message {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    flex-grow: 0;
}

.highlight {
    color: #5163ad;
}

.info {
    color: #31C2A9;
}

.alert {
    color: red;
}

.button {
    background-color: #1a3e70;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 5px;
    text-align: center;
    color: orange;
    cursor: pointer;
}

.button:hover, .selected {
    background-color: #5163ad;
    border-color: orange;
    color: #1a3e70;
}

.button.disabled:hover, .disabled {
    cursor: default;
    background-color: gray;
    border-color: black;
    color: black;
}

#popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popup-message {
    flex-grow: 0;
    background-color: #1a3e70;
    color : orange;
    border-radius: 5px;
    border: 5px solid #5163ad;
    padding: 10px;
    max-width: 75%;
    flex-direction: column;
    position: relative;
}

#popup-message p{
  margin: 1em 0 1em 0;
}

#close {
  position: absolute;
  cursor: pointer;
  font-size: xxx-large;
  right : 10px;
  top : 0px;
}

#scene {
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

.modele td {
  width: 30px;
  height : 30px;
  border: 1px solid #5163ad;
  background-color : black;
  cursor: pointer;
  color: white;
  text-align: center;
}

#image td, .teste td {
  cursor: pointer;
}

.smiley {
    opacity: 0.3;
}

.verite {
    border-collapse: collapse;
    width: fit-content;
}

.verite td, .verite th {
    width: 30px;
    height : 30px;
    border: 1px solid black;
    color: black;
    text-align: center;
}

.smiley td {
  width: 6px;
  height : 6px;
  border: 1px solid white;
  background-color : lightgray;
}

.teste td {
  width: 30px;
  height : 30px;
  border: 1px solid black;
  background-color : white;
  color: white;
  text-align: center;
}

td.activated {
  background-color : black;
  font-size: 0px;
}

.full {
  opacity : 1;
  border-color : black;
}

.w-3 {
    width : 33%;
}

.ok {
    background-color: green;
}

.nok {
    background-color: red;
}
